importFrom("graphics", barplot)
export(kPeriod)
export(kProductTypeIdentifier)
export(kPromotionalCodes)
export(kSubscription)
export(date.to.week)
export(week.to.date)
export(rtconnect)
S3method(subset, rtconnect)
S3method(barplot, rtconnect)
S3method(plot, rtconnect)
